body {
background-color: #252323;
}

html{
  scroll-behavior: smooth;
}



/* awal navbar */
.navbar{
  margin-top: 30px;

}

.navbar-brand{
  font-family: 'Poppins';
  font-weight: 600;
  margin-left: 10px;
}

.navbar-nav a.active{
 color: #6E44FF !important;
}

.navbar-nav a:hover{
  color: #6E44FF !important;
}

.nav-link {
   font-weight: 600;
  font-size: 24px;
  margin-right: 46px;
}
/* akhir navbar */

/* awal profile */


.hi{
  color : #F5F1ED;
  margin-top: 50px;
}

.name{
  color : #F5F1ED;
}

.role{
  color : #F5F1ED;
  font-weight: 400;
  font-size: 24px;
}

.illustration img{
  margin-top: 30px;
  width: 340px;
}


.illustrationdua img{
  width: 340px;
}

.about{
  font-weight: 800;
  margin-top: 30px;
  font-size: 48px;
  color: #6E44FF;
  font-family: 'Poppins';
}

.detail{
  font-weight: 200;
  font-size: 18px;
  color: #F5F1ED;
  font-family: 'Poppins';
  text-align: justify;
  margin-left: 00px;
  margin-right: 20px;
}


.tools{
  font-weight: 400;
  margin-top: 30px;
  font-size: 24px;
  color: #6E44FF;
  font-family: 'Poppins';
}

 .detaildua{
  text-align: center;
  font-weight: 200;
  font-size: 18px;
  color: #F5F1ED;
  font-family: 'Poppins';
 }

/* akhir profile */



/* bg projek satu */
.fullbg{
  width: 100%;
  padding-top: 100px;
  margin-top: 100px;
}
.white{
  background-color:#26303D;
}

.namaprojeksatu{
  margin-top: 100px;
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  line-height: 75px;
  font-weight: 600;
  text-transform: none;
  color:#F5F1ED;
}
.shortstoryprojek2{
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  line-height: 50px;
  font-weight: 200;
  text-transform: none;
  color: #808191;
}

.toolssatu{
  font-family: 'Poppins', sans-serif;
  color: white;
  margin-top: 120px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0.6px;
}

.usetools{
  font-family: 'Poppins', sans-serif;
  margin-top: 5px;
  color: white;
  opacity: 0.5;
  line-height: 28px;
  letter-spacing: 0.6px;
}

.projeksatu img{
  padding-top: 200px;
  max-width: 100%;
  padding-bottom: 200px;
  
}

.tempatnulis{
  padding-right: 200px;
}


/* awal contacts */
.quest h1{
  font-size: 24px;
  font-weight: 200;
  color: #F5F1ED;
}

.email{
  font-size: 30px;
  font-weight: 200;
  color: #F5F1ED;
}

/* logo kontak */
.wrapper {
display: flex;
flex-direction: row;
justify-content: center;
}

.wrapper a{
  color: black  !important;
}
.wrapper .icon {
position: relative;
background-color: #ffffff;
border-radius: 50%;
padding: 15px;
margin: 10px;
width: 50px;
height: 50px;
font-size: 18px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
/* box-shadow: 2px 6px 14px 3px #000000; */
cursor: pointer;
transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
position: absolute;
top: 0;
font-size: 14px;
background-color: #ffffff;
color: #ffffff;
padding: 5px 8px;
border-radius: 5px;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
opacity: 0;
pointer-events: none;
transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
position: absolute;
content: "";
height: 8px;
width: 8px;
background-color: #ffffff;
bottom: -3px;
left: 50%;
transform: translate(-50%) rotate(45deg);
transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
top: -45px;
opacity: 1;
visibility: visible;
pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
background-color: #8a3ab9;
color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
background-color: #333333;
color: #ffffff;
}

.wrapper .telegram:hover,
.wrapper .telegram:hover .tooltip,
.wrapper .telegram:hover .tooltip::before {
background-color: #0088cc;
color: #ffffff;
}

.wrapper .dribbble:hover,
.wrapper .dribbble:hover .tooltip,
.wrapper .dribbble:hover .tooltip::before {
background-color:  #ea4c89;
color: #ffffff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
background-color: #0e76a8;
color: #ffffff;
}
/* logo kontak */
/* akhir contacts */


/* footer */
.footer p{
  
  font-size: 12px;
  font-weight: 400;
  color: #F5F1ED;
}
/* footer */

/* button */
.button {
    background-color: #6E44FF;
    border: none;
    border-radius: 40px;
    color: white;
    padding: 15px 35px 15px 35px;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
  transition: all 0.5s;
  cursor: pointer;
 
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}




/* desktop */
 @media (min-width: 992px) { 
 .hi{
     margin-top: 200px;
   } 

  .illustration img{
    margin-top: 100px;
    margin-left: 50px;
    width: 100%;
  }

  .about{
    margin-top: 140px;
  }

  .detail{
    margin-left: 0;
  }

  .illustrationdua img{
    width: 100%;
    margin-left: 0;
  }
  .shortstoryprojek2{
    margin-bottom: 50px;
  }
 }

  


/*mobile portrait*/
  @media (max-width: 575px) {
    .illustration img{
      order: 1;
     
    }
    .write{
      order: 2;
    }
    .toolssatu{
      margin-top: 30px;
    }
    .usetools{
      margin-bottom: 50px;
    }
  } 








